.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.brand {
    height: 30px;
    width: 270px;
    display: flex;
    justify-content: center;
    background-color: orange;  
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.calculator {
    background-color: orange;
    padding: 15px;
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(4, 68px);
}

input {
    grid-column: span 4;
    height: 70px;
    width: 260px;
    font-size: 50px;
    margin: auto;
    text-align: end;
    margin-top: 40px;
    margin-bottom: 30px;
    border-radius: 20px;
    font: bold;
    border-color: black;
}

button {
    height: 50px;
    width: 50px;
    margin: 4px;
    border-color: black; 
    border-radius: 50%;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}

.equal {
    width: 115px;
    border-radius: 40px;
}


